:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 38px;
    --header-search: calc(var(--header-height) - var(--navbar-height));
    --header-search-bar: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__colmn-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grid__colmn-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}

.grid__colmn-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn ease .2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn {
    min-width: 124px;
    height: 34px;
    line-height: 1.6rem;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item-link {
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #939393;
    font-size: 1.5rem;
    min-width: 40px;
    height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item-link:hover {
    opacity: 0.9;
}
